* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 1rem;
}

.container {
	/* background-color: #303030; */
	display: flex;
	align-items: center;
	justify-content: center;
	overflow-y: hidden;
	width: 100vw;
}

video {
	flex: 1 1 0;
	max-width: 50rem;
	height: auto;
	aspect-ratio: 16/9;
	background-color: #474950;
	border: 2px solid black;
}

#next-btn {
	width: 8rem;
	height: auto;
	aspect-ratio: 16/5;
}